{% extends 'flight/layout.html' %}

{% load static %}

{% block head %}
    <title>Privacy Policy | Flightbuzz</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/privacy-policy.css' %}">
{% endblock head %}

{% block body %}
    <section class="privacybanner-section">
            <img src="{% static 'img/privacy-policy.png' %}" alt="Privacy Policy" class="privacybannerimg">
    </section>
    <section class="section section1">
        <div class="container">
          
          
        </div>
    </section>
{% endblock%}